
<!-- hello world -->
<div class="container">
    <img src="/w3images/bandmember.jpg" alt="Avatar">
    <p> {{ sentence }} </p>
    <div class="well well-sg">
        <div class="container aibril_info">
          <table class="table">
            <thead>
              <tr>
                <th>#Intent Name</th>
                <th>Intent confidence</th>
              </tr>
            </thead>
            <tbody>
            {% for intent in intents %}
              <tr>
                <td><span class="badge">{{ intent['intent'] }} </span></td>
                <td>{{ intent['confidence'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="container aibril_info">
          <table class="table">
            <thead>
              <tr>
                <th>@Entity Name</th>
                <th>Entity Value</th>
              </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
              <tr>
                <td><span class="badge">{{ entity['entity'] }}  </span></td>
                <td> {{ entity['value'] }}  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    <div class="well well-sg">
      <h4> 질문 예시 (아래 질문 예시를 참고하여 질문해 주세요.) </h4>
      <div class="container response_example">
          {% for response_example in response_examples %}
            <div class="btn btn btn-info"> {{ response_example}}</div>
          {% endfor %}
      </div>
    </div>
    <span class="time-right">11:00</span>
</div>
